[submodule "devops"]
	path = devops
	url = https://osm.etsi.org/gerrit/osm/devops.git
[submodule "baselayers/basic"]
	path = baselayers/basic
	url = https://github.com/juju-solutions/layer-basic.git
[submodule "vmimage-builder-scripts"]
	path = vmimage-builder-scripts
	url = https://github.com:simula/nornet-vmimage-builder-scripts.git
