[submodule "devops"]
	path = devops
	url = https://osm.etsi.org/gerrit/osm/devops.git
[submodule "baselayers/basic"]
	path = baselayers/basic
	url = https://github.com/juju-solutions/layer-basic.git
[submodule "vmimage-builder-scripts"]
	path = vmimage-builder-scripts
	url = https://github.com/simula/nornet-vmimage-builder-scripts.git
[submodule "juju/flexrancharm/mod/operator"]
	path = juju/flexrancharm/mod/operator
	url = https://github.com/canonical/operator
[submodule "juju/hsscharm/mod/operator"]
	path = juju/hsscharm/mod/operator
	url = https://github.com/canonical/operator
[submodule "juju/mmecharm/mod/operator"]
	path = juju/mmecharm/mod/operator
	url = https://github.com/canonical/operator
[submodule "juju/spgwucharm/mod/operator"]
	path = juju/spgwucharm/mod/operator
	url = https://github.com/canonical/operator
[submodule "juju/spgwccharm/mod/operator"]
	path = juju/spgwccharm/mod/operator
	url = https://github.com/canonical/operator
[submodule "juju/p4sscharm/mod/operator"]
	path = juju/p4sscharm/mod/operator
	url = https://github.com/canonical/operator
[submodule "juju/p4ovscharm/mod/operator"]
	path = juju/p4ovscharm/mod/operator
	url = https://github.com/canonical/operator
