# Documentation: https://docs.fedoraproject.org/en-US/fedora/rawhide/install-guide/appendixes/Kickstart_Syntax_Reference/
# Example: https://github.com/DRRDietrich/Fedora/blob/master/fedora.ks


# ###### Installer Configuration ############################################
text
# graphical
install
timezone Europe/Oslo --utc
reboot


# ###### Locale and Keyboard Configuration ##################################
# Using Irish locale (€, metric units, etc.), but late-commands sets British
# time format (24-hour clock). Also install locales for NO, DE, CN:
lang en_IE --addsupport=nb_NO --addsupport=de_DE --addsupport=zh_CN
keyboard --xlayouts='de (nodeadkeys)',no,us


# ###### Storage Configuration ############################################
bootloader --location=mbr
zerombr
clearpart --all --initlabel
part /boot/efi --label efi  --fstype vfat --size 62         --asprimary --ondisk sda
part /         --label root --fstype xfs  --size 1 --grow   --asprimary --ondisk sda
part /home     --label home --fstype xfs  --size 1 --grow   --asprimary --ondisk sdb
part swap      --label swap --fstype swap --size 1 --grow   --asprimary --ondisk sdc --maxsize 131072


# Network information
# network  --bootproto=dhcp --device=enp3s0 --ipv6=auto --activate


# ###### Host and User Configuration #########################################
network --hostname=ekeberg.simula.nornet
rootpw --lock
user --name=nornetpp --gecos "NorNet Praesum Presum" --groups=wheel --iscrypted --password $1$8199zpVL$VZKol19Vyow7dqZCVBUNo1


# ###### Package Management #################################################
url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch"
repo --name=fedora  --mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=fedora-$releasever&arch=$basearch
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=updates-released-f$releasever&arch=$basearch
# repo --name=dreibh-ppa --baseurl=https://download.copr.fedorainfracloud.org/results/dreibh/ppa/fedora-$releasever&arch=$basearch

services --enabled=chronyd,sshd

# SELinux is enabled, but only logs things that would be denied in enforcing mode.
selinux --permissive
# Firewall configuration
firewall --disabled
# Do not configure the X Window System
skipx

%packages
gdisk
joe
# Needed for background image with EFI boot:
grub2-efi-x64-modules
%end


# ###### Post-Install Configuration #########################################
%post

# Needed for background image with EFI boot (image loader in grub2-efi-x64-modules):
grub2-install /dev/sda

# Add COPR PPA dreibh/ppa:
dnf copr enable -y dreibh/ppa
dnf upgrade -y
dnf install -y nornet-management

# Add partition names:
/usr/sbin/sgdisk --change-name=1:EFI --change-name=2:Root /dev/sda
if [ -e /dev/sdb ] ; then /usr/sbin/sgdisk --change-name=1:Home /dev/sdb ; fi
if [ -e /dev/sdc ] ; then /usr/sbin/sgdisk --change-name=1:Swap /dev/sdc ; fi

# Set time locale to en_GB.UTF-8 for 24-hour clock:
# update-locale LC_TIME=en_GB.UTF-8 LC_MESSAGES=POSIX
# Clean up:
updatedb
dnf clean all
fstrim -av

%end
