[Unit]
Description=Mobility Management Entity (MME)
After=ssh.target

[Service]
ExecStart=ExecStart=/usr/local/bin/mme -c /usr/local/etc/oai/mme.conf
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
WorkingDirectory=/home/nornetpp/src/openair-cn/scripts
StandardOutput=file:/var/log/mme.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
