[Unit]
Description=Mobility Management Entity (MME)
After=ssh.target

[Service]
ExecStart=/bin/sh -c 'exec /usr/local/bin/mme -c /usr/local/etc/oai/mme.conf >>/var/log/mme.log 2>&1'
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
WorkingDirectory=/home/nornetpp/src/openair-cn/scripts

[Install]
WantedBy=multi-user.target
