[Unit]
Description=Serving and Packet Data Network Gateway -- Control Plane (SPGW-C)
After=ssh.target

[Service]
ExecStart=/usr/local/bin/spgwc -c /usr/local/etc/oai/spgw_c.conf -o
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
WorkingDirectory=/home/nornetpp/src/openair-cn-cups/build/scripts
StandardOutput=file:/var/log/spgwc.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
